* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #3b0718;
    padding: 20px;
}

/* Main container */

.squares {
    min-height: calc(100vh - 40px);
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-content: center;
}

/* Big orange blocks */

.squares__block {
    background-color: #f48c06;
    height: 160px;
    width: 468px;

    padding: 20px;

    display: flex;
    align-items: center;
    gap: 12px;
}

/* Small red squares */

.squares__small {
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    
}

/* FIRST BLOCK */

.squares__block--first {
    justify-content: flex-start;
}


/* SECOND BLOCK */

.squares__block--second {
    justify-content: center;
    flex-direction: row;

}
.squares__block--second .squares__small
 {
    width: 78px;
    height: 120px;
}



/* THIRD BLOCK */

.squares__block--third {
    justify-content: flex-end;
}


/* FOURTH BLOCK */

.squares__block--fourth {
    justify-content: space-between;
}


/* FIFTH BLOCK */

.squares__block--fifth {
    justify-content: space-around;
}

.squares__block--fifth .squares__small {
    width: 78px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.squares__block--fifth span {
    color: white;
    font-size: 12px;
}

.squares__block--fifth .squares__small:nth-child(2)
 {
    height: 64px;
 }

/* SIXTH BLOCK */

.squares__block--sixth {
    justify-content: center;
}

.squares__long {
    width: 156px;
    height: 78px;
    background-color: #9D0208;
}